doctype html
html
	block head
		head
			title= title

			link(rel='stylesheet', href='/stylesheets/bootstrap-simplex.min.css')
			//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div.container-fluid
			block content

	.footer.text-right 
		| ©
		| 
		a(href="https://github.com/okv/climbzilla-web") climbzilla web #{appVersion}
		| , 2017
