doctype html
html
	block head
		head
			title= title

			link(rel='stylesheet', href='/stylesheets/bootstrap-simplex.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')

			block script
				script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
			//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
	body
		div.container-fluid
			block content

	.footer.text-right 
		| ©
		| 
		a(href="https://github.com/okv/climbzilla-web") climbzilla web #{appVersion}
		| , 2017
