extends layout

block content
	h1 Трассы

	each route in routes
		.route-item
			span.h3.text-capitalize
				a(href=`/halls/${hall.id}/routes/${route.id}`) #{route.title}
			| 
			smal.text-muted #{route.grade.title}
