body {
	padding: 50px;
	font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1000px) {
	body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		font-size: 200%;
	}

	.hall-item > div > small, .route-item > small {
		font-size: 130%;
	}

	.hall-item, .route-item {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	#route-fields {
		font-size: 150%;
	}

	#route-finished-users {
		font-size: 150%;
	}

}

.breadcrumb {
	background: #ffffff;
}

.hall-item, .route-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.img-item {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: #00B7FF;
}

.footer {
	font-size: 15px;
}