body {
	padding: 50px;
	font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1000px) {
	body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		font-size: 200%;
	}

	.hall-item > div > small, .route-item > small {
		font-size: 130%;
	}

	.hall-item, .route-item {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	#routes-sort {
		font-size: 130%;
	}

	#route-fields {
		font-size: 150%;
	}

	#route-finishes {
		font-size: 150%;
	}

	.breadcrumb {
		font-size: 180%;
	}

	.footer {
		font-size: 110% !important;
	}
}

.hall-item, .route-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

#routes-sort {
	padding-bottom: 20px;
}

.img-item {
	padding-top: 20px;
	padding-bottom: 20px;
}

a {
	color: #00B7FF;
}

.footer {
	font-size: 15px;
	padding-top: 30px;
}

.route-photo-loader {
	margin-top: 30px;
	margin-bottom: 30px;
}

.loader {
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
